body{

    height: 100vh;
}

#btn{
  background-color: #ff00bf;
  color: #fff;
}
.form-group{
    display: inline-block;
    height: 35px;
}
.section-boton{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.col-boton{
    padding: 0;
}
.next-codigo{
     border: none;
     width: 100%;
     height: 50px;
     background-color: #FF00BF;
     color: white;
}
.input-group{
  margin: 20px;
}
.grupo-check{
  margin-left: 23px;
}