/*colores
#ff00bf rosado
font-family: "Gotham SSm A"
*/

body{
	margin: 0 auto;
	padding: 0px;
	background-color: #fff;
    text-align: center;
	font-family: 'Work Sans', sans-serif;
}

#portada{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
    position: relative;
}
#logo{
    width: 50%;
    height: 30%;
    position: relative;
}

#logo img{
    width :100%;
    position: absolute;
    top:30%;
    left: 40%
}
.btnPortada{
    position: relative;
    width: 100%;
    height: 100px;
    border: 3px solid rgb(255, 0, 191, .0);
    background: rgba(255, 0, 191, .0);
    bottom: 5px;
    left: 15%;
    top: 46%;
}


#log{
    position:absolute;
    color: #ff00bf;
    border: 3px solid rgb(255, 0, 191);
    background: rgba(255, 0, 191, .0);
    right: 70%;
    bottom: 2%;
    width: 40%;

}
#sing{
    position: absolute;
    color: #fff;
    border: 3px solid rgb(255, 0, 191);
    background-color: rgb(255, 0, 191);
    right: 20%;
    bottom: 2%;
    width: 40%;
}
div a:hover{ 
    background: #ff00bf;
}
/* datos.html*/
#btnNext{
  background-color: #ff00bf;
  color: #fff;
}
/*falta ubicar los botones en la parte de abajo*/

/*singup settings*/
ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
h4{
  font-size: 2em;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
}

.etiquet{
  text-decoration: none;
  font-size: 10px;
}
hr {
  margin: 0;
}
.free-ride{
  text-align: center;
}
.free-ride a{
  color: black;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 70px;
  margin: 0 -7px 2px 5px;
  border: none;
  border-top: 1px solid gray; 
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding-top: 1px;
}
.bootstrap-select.btn-group .dropdown-menu{
  width: 170px;
}

.paises{
  width: 15%;
  margin: 0 0 0 2px;
  border-right:0px;
  margin-top: 7px;
  border: none;
  padding-left: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.number{
  width: 55%;
  margin:0 0 0 -7px;
}

.btn{
  border: none;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form-group{
  display: inline-block;
  height: 35px;
  
}
.next-number{
   border: none;
   width: 100%;
   height: 50px;
   background-color: #FF00BF;
   color: white;
}

#text-verify{
  font-size: 2.5vh;
  margin: 0 auto;
  text-align: center;
}
.section-boton{
  position: absolute;
    right: 10%;
    bottom: 50%;
    left: 10%;
    padding: 1rem;
    text-align: center;
}
