/*colores
#ff00bf rosado
font-family: "Gotham SSm A"
*/

body{
	margin: 0 auto;
	padding: 0px;
	background-color: #fff,
	font-family: 'Work Sans', sans-serif;
}

#portada{
	background-image: url(../img/portada.jpeg);
	background-size: cover;
	width: 100%;
	height: 100vh;
}
#logo{
    width: 50%;
    height: 30%;
}

#logo img{
    width :100%;
}
.content-div{
   
    width: 250px; 
    height: 100px; 
    border: 3px solid rgb(255, 0, 191);
    background: rgba(255, 0, 191, .0);
}


#log{
    position:absolute;
    bottom:5px;
    right:10px;

}
#sing{
    position:absolute;
    bottom:5px;
    left:10px;
}
/*falta ubicar los botones en la parte de abajo*/