* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}
header{
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
    text-align: center;
    padding: 10px;
}

body {
    background: #18bc9c; /*rgba(68, 157, 68, 0.2);*/
}

button {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}



.input-btn{
    bottom: 10px;
    z-index: 100;
}
#container-map {
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
}
#map{
    width: 100%;
    height: 100vh;
}

.contenedor_mapa{
    width: 100%; 
    height: 100%;     
    position: relative; 
    overflow: hidden;
}

.pick-up{
    color: #fff;
    height: 50px;
    width: 100%;
    background-color: #aa8bbc ;
    border-radius: 6px;
    border-color: none;
    font-size: 16px;
    border: none;
}

.input{
    /*margin-bottom: 1px;*/
    height: 50px;
    width: 100%;
    border-radius: 6px;
    border-color: none;
    border: none;
}

#btn-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;

}
#logo{
    width: 10%;
    height: 10%;
    right: 5%
    color: black;
}


.user-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid white;
    overflow: hidden;
    display: block;
    background-color: white;
    color: #555;
    font-size: 30px;
    position: relative;
    right: 5%;

}  

.user-icon img{
    max-width: 45px;
    right: 30%;
    height: auto;
    display: block;
    position: absolute;
    right: 5%;

}

