body {
line-height: 1;
background-color: #fff;
color: #333447;
}
ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
h4{
  font-size: 2em;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
}
a{
  text-decoration: none;
  font-size: 10px;
}
hr {
  margin: 0;
}
.free-ride{
  text-align: center;
}
.free-ride a{
  color: black;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 70px;
  margin: 0 -7px 2px 5px;
  border: none;
  border-top: 1px solid gray; 
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding-top: 1px;
}
.bootstrap-select.btn-group .dropdown-menu{
  width: 170px;
}

.paises{
  width: 15%;
  margin: 0 0 0 2px;
  border-right:0px;
  margin-top: 7px;
  border: none;
  padding-left: 5px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.number{
  width: 55%;
  margin:0 0 0 -7px;
}

.btn{
  border: none;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.form-group{
  display: inline-block;
  height: 35px;
  
}
.next-number{
   border: none;
   width: 100%;
   height: 50px;
   background-color: #FF00BF;
   color: white;
}

#text-verify{
  font-size: 0.9em;
  margin: 0 auto;
  text-align: center;
}
.section-boton{
  position: absolute;
    right: 30%;
    bottom: 50%;
    left: 30%;
    padding: 1rem;
    text-align: center;
}
